*{
    margin: 0;
    padding: 0;
}

@font-face {
     font-family: 'S-CoreDream-3Light';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-3Light.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
     font-family: 'S-CoreDream-4Regular';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

ul, ol{
    list-style: none;
}

a{
text-decoration: none;
color: #353535;
}

body{
    font-family: "S-CoreDream-3Light";
    font-size: 14px;
    min-width: 1350px;
}

.text-spacing{
    letter-spacing: 1.5px;
}

#header_inner{
    margin: 0 auto;
    width: 1320px;
    height: 278px;
}

#nav{
    float: right;
    padding-top: 20px;
}

#nav li{
    float: left;
    margin-left: 20px;
}

#container{
    margin: 0 auto;
    width: 100%;
    height: 50px;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
}

#menu{
    margin: 0 auto;
    width: 1200px;
    height: 50px;
}

#menu>li{
    float: left;
    padding: 15px 0;
    width: 25%;
    text-align: center;
    font-weight: bold;
}

#menu>li>a{
    font-family: "raleway";
    font-size: 18px;
    font-weight: bold;
}

#logo{
    position: absolute;
    top: 75px;
    left: 50%;
    transform: translate(-50%,0);
}

/*banner*/
#banner{
    margin: 0 auto;
    margin-top: 75px;
    margin-bottom: 190px;
    width: 1320px;
    height: 365px;
    background: url(images/product.png) no-repeat;
}

#banner h1{
    color: #4a4a4a;
    font-family: "raleway";
    font-size: 72px;
    padding-top: 150px;
    padding-bottom: 140px;
    font-weight: bold;
    margin-left: 170px;
}

/*product*/
#product1, #product2, #product3, #product4{
  width: 1128px;
  height: 430px;
  margin: 0 auto;
  margin-bottom: 170px;
}

 #product5{
  width: 1128px;
  height: 430px;
  margin: 0 auto;
  margin-bottom: 360px;
}

#product1 h4, #product2 h4,  #product3 h4, #product4 h4, #product5 h4{
  font-family: "S-CoreDream-4Regular";
  font-size: 14px;
}

#product1 a, #product2 a, #product3 a, #product4 a, #product5 a{
    background-color: #fbd4ad;
}

.pd_name{
    margin-top: 22px;
    margin-bottom: 15px;
    font-size: 14px;
    display: block;
    height: 22px;
    text-align: center;
}

.pd_1{
  float: left;
}

.pd_2{
  float: left;
  margin: 0 70px;
}

.pd_3{
  float: left;
}

.line{
    font-size: 12px;
    color: #7c7c7c;
    text-decoration: line-through;
    margin-left: 100px;
}

.price1{
    margin-left: 125px;
}

/*footer*/
#footer_inner{
    margin: 0 auto;
    width: 100%;
    height: 50px;
    border-top: 1px solid #353535;
    border-bottom: 1px solid #353535;
}

#ft_menu{
    margin: 0 auto;
    width: 1200px;
    height: 50px;
}

#ft_menu>li{
    float: left;
    padding: 15px 0;
    width: 155px;
    text-align: left;
}

#ft_menu>li>a{
    font-family: "raleway";
    font-size: 14px;
    font-weight: 550;
}

#footer_bottom{
    width: 1320px;
    margin: 0 auto;
    height: 320px;
}

#fb_inner1{
    margin: 0 auto;
    width: 1200px;
    height: 50px;
}

.call{
    font-size: 18px;
    font-family: "GmarketSansMedium";
    color: #353535;
    float: left;
    padding-top: 60px;
    line-height: 35px;
    font-weight: bold;
}

.mail{
    font-size: 18px;
    font-family: "GmarketSansMedium";
    float: left;
    color: #353535;
    padding-top: 60px;
    padding-left: 130px;
    line-height: 35px;
    font-weight: bold;
}

.mini_logo{
    padding-top: 70px;
    float: right;
}

#fb_inner2{
    margin: 0 auto;
    width: 1200px;
    height: 50px;
    font-family: "G마켓 산스";
    font-weight: lighter;
    font-size: 12px;
    float: left;
    padding-left: 60px;
}

.time{
    padding-top: 45px;
    padding-bottom: 20px;
    font-family: "GmarketSansLight";
    font-size: 12px;
}

.info{
    line-height: 25px;
    font-family: "GmarketSansLight";
    font-size: 12px;
}

